@import "tailwindcss";
@import 'flag-icons/css/flag-icons.min.css';

@plugin "daisyui" {
    themes: all;
}

@source '../*.{js,ts,jsx,tsx,mdx}';

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.animate-float {
    animation: float 2s ease-in-out infinite;
}