.dark-theme {
    .swagger-ui {
        p,
        h4,
        h5 {
            color: white;
        }

        .title {
            color: white;
        }

        .base-url {
            color: darkgrey !important;
        }

        .scheme-container {
            background: #171616;

            .schemes-title {
                color: white;
            }

            select {
                background: #2c2a2a;
                color: white;
            }
        }

        .tablinks {
            color: white;
        }

        .arrow {
            filter: invert(1) grayscale(100) brightness(1000);
        }

        .opblock-tag-section {
            background-color: #171616;
            border: 1px solid #1e1e1e;

            span {
                color: #efefef;
            }
        }

        .opblock.opblock-get {
            background-color: #232121;
            border: 1px solid #1e1e1e;
        }

        .opblock .opblock-section-header {
            background-color: #1c1a1a;
            border: 1px solid #1e1e1e;

            h4 {
                color: white;
            }

            .try-out__btn {
                background: #0075fa;
                border: 1px solid #0075fa;
                color: white;
            }
        }

        td {
            color: white;
        }

        .opblock-summary-control {
            color: white;
        }

        .opblock.opblock-get .opblock-summary-method {
            background: #0075fa;
        }

        table thead tr th {
            color: white;
            border-bottom: 1px solid #5f5f5f;
        }

        input {
            color: black;
        }

        .parameter__name {
            color: #f3f3f3;
        }

        .parameter__name.required::after {
            color: #ff5959;
        }

        .parameter__type {
            color: #e1e1e1;
        }

        .parameter__in {
            color: orange;
        }

        input[disabled],
        .swagger-ui select[disabled],
        .swagger-ui textarea[disabled] {
            background: #373535;
            color: white;
            border: 1px solid #3f3d3d;
        }

        select {
            color: white;
            background-color: #3f3d3d;
        }

        .tab li button.tablinks {
            background: #0075fa;
            border: 1px solid #0075fa;
            color: white;
        }

        .model-toggle::after {
            filter: invert(1) grayscale(100) brightness(1000);
        }
    }
}

.swagger-ui {
    .info {
        display: none;
    }

    margin-bottom: 5em;

    .title {
        small {
            display: none;
        }
    }

    .scheme-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        transform: translate(17%, 0);
        border-radius: 20px;
        background: #fafafa;

        select {
            margin-top: 0.5rem;
            padding: 0.5rem;
            border-radius: 5px;
        }
    }

    .opblock-tag-section {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 1rem;
    }

    .opblock.opblock-get {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 0.6rem;
    }

    .opblock .opblock-section-header {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 1rem;

        .try-out__btn {
            border-radius: 5px;
            padding: 0.5rem;
        }
    }

    .opblock-summary-control {
        outline: none;
    }

    .tab li:first-of-type::after {
        display: none;
    }

    .tab li button.tablinks {
        border-radius: 5px;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .auth-wrapper,
    #operations-tag-default {
        display: none;
    }
}
